*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: gray;
  
}
a:hover{
  color: darkslategrey;
}

footer{
  padding: 15px;
  background-color: black;
  color: #ffe;
  text-align: center;
}

main{
  min-height: calc(100vh - 64px - 58px);
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  padding: 10px;
  background-color: #5A3B23;
  color: #fff;
  width: 100%;
  top: 0;
}

.headerDashboard{
  display: table-cell;
  padding: 10px;
  background-color: #5A3B23;
  color: #fff;
  top: 0;
}
.HeaderDashboard{
  width: 100%;
  display: table;
  
}

.Sidebar {
  display: table-cell;
  height: 100%;
  background-color: #5A3B23;

  width: 120px;
}

.SidebarList{
  padding: 0;
  height: auto;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 55px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: black;
}

.SidebarList #active {
  background-color: black;
}

.menu-button{
  color: #fff;
  transition: 0.3s;
}

.menu-button:hover{
  color: #bbb;
}

.login-box{
  margin-top: 8vh;
  width: 70vh;
  padding-right: 50px;
  padding-left: 50px;
}
